.divider{
    background-color: #FFEE58;
    height: 10px;
}
.blueText {
    color: #3F51B5;
}
.blueBackground {
    background-color: #3F51B5;
}
.playerInfo {
    position: relative;
}
.playerName {
    padding-left: 50% !important;
}
.playerImage {
    width: 100%;
}